@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PixelFont';
  src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 31, 41, 55;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

.font-pixel {
  font-family: 'Press Start 2P', cursive;
}
